header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img(src="images/logo.png")
                    .header__wrapper
                        nav.header__menu
                            ul.header__list
                                li.header__item
                                    a(href="#vip") sobre el vip
                                li.header__item
                                    a(href="#ventajas") ventajas
                                li.header__item
                                    a(href="#testimonios") testimonios
                                li.header__item
                                    a(href="#ranking") ranking
                                li.header__item
                                    a(href="#plantillas") plantillas
                                li.header__item
                                    a(href="#") contacto
                        .header__group
                            a.header__login(href="#") iniciar sesión
                            ul.header__social
                                li.header__social-item
                                    a(href="#")
                                        i.fa.fa-instagram
                                li.header__social-item
                                    a(href="#")
                                        i.fa.fa-twitter
                        .header__hamburguer
                            span
                            span
                            span